body {
    background-color: grey;
    display: inline;
}

.favorites-h1 {
    position: inline;
    display: block;
    text-align: center;
    padding-top: 10%;
    margin: 20px;
    color: #ad3ec9ab;
}